{% extends "layout.html" %}
{% block title %}
Proyectos
{% endblock %}
{% block content %}

<div class="row">
  {% for item in info %}
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.1}}</h5>
          <p class="card-text">Cliente: {{item.2}}</p>
          <a href="{% url 'modificar-proyecto' item.0 %}" class="btn btn-primary">Editar</a>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>
  {% endblock %}