{% extends "layout.html" %}
{% load static %}
{% block title %}
Proyectos
{% endblock %}
{% block content %}

<div class="row">
  <h3>Nuestros proyectos</h3>
  {% for item in info %}
    <div class="col-sm-6 mb-3 mb-sm-0">
      <div class="card">
        <div class="card-body">
          <h5 class="card-title">{{item.1}}</h5>
          <p class="card-text">Cliente: {{item.2}}</p>
          <a href="{% url 'modificar-proyecto' item.0 %}" class="btn btn-primary">Editar</a>
          <button type="button" class="btn btn-primary" onclick="generar_reporte_granulometria(event,'{{item.0}}')">
           Granulometria
          </button>
        </div>
      </div>
    </div>
    {% endfor %}
  </div>


  {% endblock %}

{% block scripts %}
<script>
  let obtener_ReportesURL = "{% url 'obtener_reporte_GL' %}";
</script>
<script src="{% static 'proyectos.js' %}"></script>

{% endblock %}