
{% extends "layout.html" %}
{% block title %}
Registrar un proyecto
{% endblock %}
{% block content %}

<form action="/proyectos/nuevo/" method="POST">
    {% csrf_token %}
<div class="row">

    <h3>Nuevo proyecto</h3>
    <div class="col-md">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Cliente</label>
            <select class="form-select" name="cliente" aria-label="Default select example" required>
                <option disabled selected>Buscar cliente</option>
            {% for item in clientes %}
                <option value="{{item.0}}">{{item.2}}</option>
            {% endfor %}
              </select>
        </div>
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Nombre del proyecto </label>
            <input type="text" name="nombre_proyecto" class="form-control" id="exampleFormControlInput2" >
        </div>

          
    </div>

    <div class="col-md">
        <div class="mb-3">
            <label for="ubicacion_proyecto" class="form-label">Ubicacion</label>
            <textarea class="form-control" name="ubicacion" id="ubicacion_proyecto" rows="2"></textarea>
          </div>
        <div class="mb-3">
            <label for="descripcion_proyecto" class="form-label">Descripcion</label>
            <textarea class="form-control" name="descripcion" id="descripcion_proyecto" rows="2"></textarea>
          </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</div>

</form>
{% endblock %}