{% extends "layout.html" %}
{% block title %}Nueva orden de trabajo {% endblock %}
{% block content %}

<form action="{% url 'registrar-orden-de-trabajo' %}" method="POST">
    {% csrf_token %}
<div class="row">
    <h3>Nueva órden de trabajo</h3>
    <div class="col-md">
        <div class="mb-3">
            <label for="exampleFormControlInput1" class="form-label">Proyecto</label>
            <select class="form-select" name="id_proyecto" aria-label="Default select example" required>
                <option disabled selected>Elegir proyecto</option>
                {% for y in proyectos %}
                <option value="{{y.0}}">{{y.1}}</option>
                {% endfor %}
              </select>
              <div class="form-text" id="basic-addon4">¿No encuentras el proyecto que estás buscando? Registralo ahora haciendo click <a href="{% url 'registrar-proyecto' %}">aquí</a></div>
        </div>
        
        <div class="mb-3">
            <label for="exampleFormControlInput2" class="form-label">Orden de trabajo # </label>
            <input type="number" name="no_orden" class="form-control" id="exampleFormControlInput2" >
        </div>
          
    </div>

    <div class="col-md">
        <div class="col">
            
        </div>
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
</div>
</form>
{% endblock %}