{% extends "layout.html" %}
{% block title %}Inicio {% endblock %}
{% block content %}
<div class="row">
    <div class="col">
        <h3>Órdenes de trabajo</h3>
        <div class="row">
            {% for x in ordenes_trabajo %}
            <div class="col-sm-6 mb-3 mb-sm-0">
              <div class="card">
                <div class="card-body">
                  <h5 class="card-title">Orden de trabajo no. {{x.0}}</h5>
                  <p class="card-text">{{x.1}}</p>
                  <p class="card-text" id="id_orden">{{x.0}}</p>
                  <!-- Button trigger modal -->
                    <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#staticBackdrop" id="btn_verEnsayo">
                        Agregar ensayo
                    </button>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
    </div>
</div>


<!-- Modal -->
<div class="modal fade" id="staticBackdrop" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="staticBackdropLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="staticBackdropLabel">Ensayos</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
          <div class="row">
            <div class="col">
                <h3>Ensayos de laboratorio</h3>
                <hr>
                <ul class="list-group list-group-flush" id="listar_ensayos">
                  {% for x in ensayos %}
                    <li class="list-group-item"><a href="">{{x.1}}</a></li>
                  {% endfor %}
                    
                </ul>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block scripts%}
<script>
  let btn_ensayo =  document.getElementById("btn_verEnsayos");
  let id_orden = document.getElementById("id_orden");
  let ul_ensayos = document.getElementById("listar_ensayos");
  let obtener_EnsayosURL = "";
  btn_ensayo.element.addEventListener("click", listarEnsayos);

  function listarEnsayos() {

    axios.get(obtener_EnsayosURL, {
        params: {
            id_orden: id_orden
        }
    })
    .then(function (response) {
        const catalogo_factores = response.data;

        // Limpiar el contenedor antes de imprimir el cliente
        ul_ensayos.value = "";

        // Iterar sobre cada objeto en el array recibido
        catalogo_factores.forEach(function (info) {
          ul_ensayos.innerHTML = "Hello World";
        });

        return ul_ensayos.value;
    })
    .catch(function (error) {
        console.log('Error:', error);
    });
  
}
</script>
{% endblock %}