{% extends "layout.html" %}
{% block title %}
Granulometria
{% endblock %}

{% block content %}
<h1> Granulometria </h1>
<hr>
<form>
  <div class="row">
    <div class="col-md">
      <label class="form-label">Proyecto</label>
      <input type="text" name="nombre_proyecto" class="form-control">

      <label class="form-label">Cliente</label>
      <input type="text" name="cliente" class="form-control">

      <label class="form-label">Operador</label>
      <input type="text" name="operador" class="form-control">

      <label class="form-label">Descripción</label>
      <input type="text" name="descripcion" class="form-control">

    </div>

    <div class="col-md">
      <label class="form-label">Sondeo No.</label>
      <input type="text" name="no_sondeo" class="form-control">

      <label class="form-label">Muestra No.</label>
      <input type="text" name="no_muestra" class="form-control">

      <label class="form-label">Profundidad</label>
      <input type="text" name="profundidad"  class="form-control">

      <label class="form-label">Fecha</label>
      <input type="date" name="fecha_ensayo" class="form-control">
    </div>
  </div>
</form>


<hr>
<form action="/granulometria/" method="POST">
  {% csrf_token %}

  <div class="row ">
    <div class="table-responsive">
      <table class="table table-bordered border-dark-subtle">
        <thead>
          <tr>
            <th scope="col">Malla</th>
            <th scope="col">Peso retenido parcial</th>
            <th scope="col">Porcentaje retenido parcial</th>
            <th scope="col">Porcentaje retenido acumulado</th>
            <th scope="col">Porcentaje que pasa</th>
          </tr>
        </thead>
        <tbody>
          {% for medida in mallas %}
          <tr>
            {% if medida.1 > 2 or medida.0 == "Pasa No. 4" %}
            <th scope="row">{{ medida.0 }}</th>

            <td><input class="form-control" name="PRP" type="number" step="0.01" value="" id="PRP{{medida.2}}"
                oninput="sumaPRP(event,'PRP' ,'sumaPRP')"> </td>
            <td><input class="form-control-plaintext" name="PeRP" type="number" step="0.01" value="" id="PeRP{{medida.2}}"
                readonly></td>
            <td><input class="form-control-plaintext" name="PeRA" type="number" step="0.01" value="" readonly></td>
            <td><input class="form-control-plaintext" name="PQP" type="number" step="0.01" value="" id="PQP{{medida.2}}" readonly></td>

            {% endif %}
          </tr>
          {% endfor %}
          <tr>
            <th>Suma</th>
            <td id="sumaPRP"> </td>
            <td id="sumaPeRP"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <button type="button" class="btn btn-primary"
    onclick="calcTabla1(event, 'PRP' ,'PeRP', 'PeRA', 'PQP', 'sumaPRP', 'sumaPeRP')">Calcular</button>
  <br>




  <h3>Composición granulometrica del material tamizado por la malla número 40 por lavado.</h3>
  <div class="row">
    <div class="table-responsive ">
      <table class="table table-bordered border-dark-subtle">
        <thead>
          <tr>
            <th scope="col">Malla</th>
            <th scope="col">Peso retenido parcial</th>
            <th scope="col">Porcentaje retenido parcial</th>
            <th scope="col">Porcentaje retenido acumulado</th>
            <th scope="col">Porcentaje que pasa</th>
          </tr>
        </thead>
        <tbody>
          {% for x in mallas %}
          <tr>
            {% if x.1 < 4 or x.0 == "Pasa No. 200" %} 
            
            <th scope="row">{{ x.0 }}</th>
              <td><input class="form-control" name="PRPL" type="number" min="0" step="0.01" value=""
                  oninput="sumaPRP(event,'PRPL' ,'sumaPRPL')" id="PRPL{{x.2}}"> </td>
              <td><input class="form-control-plaintext" name="PeRPL" type="number" min="0" step="0.01" value="" readonly></td>
              <td><input class="form-control-plaintext" name="PeRAL" type="number" min="0" step="0.01" value="" readonly></td>
              <td><input class="form-control-plaintext" name="PQPL" type="number" min="0" step="0.01" value="" id="PQPL{{x.2}}" readonly></td>
              {% endif %}
          </tr>
          {% endfor %}
          <tr>
            <th>Suma</th>
            <td id="sumaPRPL"></td>
            <td id="sumaPeRPL"></td>
            <td></td>
          </tr>
        </tbody>
      </table>
    </div>


  </div>
  <button type="button" class="btn btn-primary"
    onclick="calcTabla2(event, 'PRPL' ,'PeRPL', 'PeRAL', 'PQPL', 'sumaPRPL', 'sumaPeRPL')" id="calcular_granulometria">Calcular</button>

<br>
  <!--Tercera tabla -->
  <div class="row ">
    <div class="col-md">
      <h3>Lavado</h3>
      <div class="table-responsive">
        <table class="table table-bordered border-dark-subtle">
          <tbody>

            <tr>
              <th scope="row">Peso seco (gr):</th>
              <td id="">
                <input type="text" readonly class="form-control-plaintext" id="PS_GRANULOMETRIA" value="">
              </td>
            </tr>

            <tr>
              <th scope="row">Peso seco lavado (gr):</th>
              <td id="PSL_GRANULOMETRIA"> </td>
            </tr>

            <tr>
              <th scope="row">Diferencia (gr):</th>
              <td id="DIF_GRANULOMETRIA"> </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>

    <div class="col-md ">
      <h3>Fracciones de muestra</h3>
      <div class="table-responsive">
        <table class="table table-bordered border-dark-subtle">
          <tbody>
            <tr>
              <th scope="row">% grava:</th>
              <td id="PCEG_GRANULOMETRIA"> </td>
            </tr>

            <tr>
              <th scope="row">% arena:</th>
              <td id="PCEA_GRANULOMETRIA"> </td>
            </tr>

            <tr>
              <th scope="row">% fino:</th>
              <td id="PCEF_GRANULOMETRIA"> </td>
            </tr>

          </tbody>
        </table>
      </div>
    </div>
  </div>

  <div class="row" id="grafico_contenedor">

  </div>
  <button type="submit" class="btn btn-outline-success">Guardar</button>
</form>

{% endblock %}