{% extends "layout.html" %}

{% block title %}
Reportes {{nombre_ensayo}}
{% endblock %}
{% block content %}

<div class="hstack gap-3">
    <div class="p-2">
        <h3>Reportes</h3>
    </div>
    <div class="p-2 ms-auto">{{nombre_ensayo}}</div>
    <div class="p-2">
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" data-bs-toggle="dropdown"
                aria-expanded="false">
                Filtrar
            </button>
            <ul class="dropdown-menu">
                <li><a class="dropdown-item" href="#">Action</a></li>
                <li><a class="dropdown-item" href="#">Another action</a></li>
                <li><a class="dropdown-item" href="#">Something else here</a></li>
            </ul>
        </div>
    </div>
</div>

<div class="row">

    {% for ensayo in info %}
    <div class="col-md">
        <div class="card" style="width: 20rem;">
            <div class="card-body">
                <h5 class="card-title"><strong>{{ensayo.1}}</strong> </h5>
                <p class="card-text">{{ensayo.4}}</p>
            </div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">Profundidad: {{ensayo.6}}</li>
                <li class="list-group-item">Muestra no: {{ensayo.9}}</li>
                <li class="list-group-item">Fecha: {{ensayo.7}} </li>
            </ul>
            <div class="card-body">
                <a href="{% url 'detalle-granulometria' ensayo.0 %}" class="btn btn-primary">Ver detalles</a>
                <a href="#" class="btn btn-dark"><i class="bi bi-box-arrow-in-down"></i>Descargar</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}